.wrapper{
  display: grid;
  /*align-content: space-around;*/
  grid-gap: 2%;
  background-color: ghostwhite;
  padding: 2%;
  /*min-height: 100%;*/
  height: 100%;
  grid-template-rows: 0% 70% 10%;
}
html, body{
  height:100%;
}
.grid-container {
  display: grid;
  /*align-content: space-around;*/
  grid-gap: 2%;
  background-color: ghostwhite;
  /*padding: 2%;*/
  grid-template-rows: 50% 50%;
  height: 100%;

}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  /*text-align: center;*/
  color: white;
}


.ep-events {
  /*background-color: cornflowerblue;*/
  grid-template-columns: 30% 70%;
  display: grid;
  justify-content: center;
}
.e-background{
  background-image: url(./img/bowdoin-autumn.jpeg);
}
.p-background{
  background-image: url(./img/bowdoin-winter.jpg);
}
.user-button {
  /*float: left;*/
  /*text-align: center;*/
  /*background: cornflowerblue;*/
  /*vertically aligns square*/
  display: inline-grid;
  align-items: center;
  /*justify-content: space-evenly;*/
  /*height: 100%;*/
  /*width: 100%;*/
}
.square{
  /*float: left;*/
  /*display: inline-block;*/
  background-color: #bbb;
  height: 60%;
  /*width: 100%;*/
  display: inline-grid;
  /*vertically aligns text*/
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ex{
  /*background-image: url(./img/bowdoin-winter-img.jpg);*/
  background: pink;
}
.po{
  /*background-image: url(./img/bowdoin-fall1-img.jpg);*/
  background: pink;
}
.btn{
  display: inline-grid;
  padding: 5px 5px;
  border-width: 3px;
  line-height: 2;
  border-style: solid;
  background: transparent;
  position: relative;
  color: #FF006A;
  border-color: #FF006A;
}
.btn:before{
  display: inline-grid;
  background-color: rgba(255, 149, 0, 0.4);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translate(0.6em, -0.3em);
  transition: transform 0.2s, background-color 0.2s;
}
/*.btn:hover{*/
/*  transform: translate(0.2em, -01em);*/
/*}*/
.btn:hover:before{
  transform: translate(-0.4em, 0.4em);
}

.btn:active {
  transform: translate(0, 0);
  transition-duration: 0.1s;
}
.btn:active:before {
  transition-duration: 0.1s;
  transform: translate(0, 0);
  background-color: rgba(255, 149, 0, 0.5);
}
.btn:before {
  background-color: rgba(255, 149, 0, 0.4);
}
/*.square-img{*/
/*  height: 90%;*/
/*  width: 90%;*/
/*}*/
.square-link{
  font-size: 5vw;
  text-align: center;
  /* background: url(./img/explore-img.jpg); */
  /* background: url(./img/explore-img.jpg) 300px 100px no-repeat;  */
  /* background-image: url('http://localhost:8080/img/explore-img.jpg'); */
  /* background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-clip: border-box;
  transition: background-size 0.2s;
  transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

  display: block;
  /* width: 190px;
  height: 190px; */
  /* text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  white-space:nowrap; */
}
.explore-stories{
  /*float: left;*/
  /*justify-content: space-evenly;*/
  grid-template-columns: auto auto auto;
  /*text-align: center;*/
  /*below centers all of the circles!!*/
  display: grid;
  align-items: center;
}
.circle{
  /*height: 50%;*/
  /*width: 50px;*/
  /*background-color: #bbb;*/
  /*border-radius: 50%;*/
  /*padding: 7%;*/
  /*border: 20px;*/
  /*margin-top: 10%;*/
  /*margin-bottom: 10%;*/
  display: inline-block;
}
.circle-img{
  height: 60px;
  width: 60px;
  /*height: 100%;*/
  /*width: 100%;*/
  border-radius: 50%;
}

@media only screen and (max-width: 400px) {
  .circle-img{
    width: 45px;
    height: 45px;
  }
}

/*FOOTER NAV-BAR*/
.hf{
  display: grid;
}
.navbar-grid-container{
  display: grid;
  /*align-content: space-around;*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*background-color: gray;*/
  /*padding: 2%;*/
  /*grid-gap: 10%;*/
  /*height: 100%;*/
}
.emoji{
  display: inline-grid;
  text-align: center;
  font-size: 6vw;
}
/*.button:link{*/
/*  text-decoration: none;*/
/*}*/
/*button:hover {*/
/*  background: rgba(0,0,0,0.44);*/
/*}*/
/*button:active {*/
/*  background: rgba(0,0,0,0.62);*/
/*}*/
.nav-btn{
  /*background: cornflowerblue;*/
  /*display: inline-grid;*/
  /*text-align: center;*/
  /*grid-template-rows: 50% 50%;*/
  border: transparent;
  background-color: rgba(255, 149, 0, 0.4);
  color: #FF006A;
  /*font-size: 15em;*/
}
.nav-btn img{
  height: auto;
}

.img-container {
  background-color: #bbb;
  padding: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
.img{
  height:100%;
  width:100%;
}
.header{
  align-items: center;
  justify-content: center;
}
