body{
  font-family: 'Quicksand', sans-serif;
}

/* Home page CSS */
.button-container {
    /*grid-template-columns: 30% 70%;*/
    display: grid;
    /*justify-content: center;*/
    margin-bottom: 3%;
    margin-top: 3%;
}

.index-grid-container {
    display: grid;
    /*align-content: space-around;*/
    grid-gap: 2%;
    background-color: ghostwhite;
    /*padding: 2%;*/
    grid-template-rows: 35% 10% 35% 20%;
    height: 100%;
}

.index-wrapper{
    display: grid;
    /*align-content: space-around;*/
    grid-gap: 2%;
    background-color: ghostwhite;
    padding: 2%;
    /*min-height: 100%;*/
    height: 100%;
    grid-template-rows: 0 80% 10%;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.circle-container {
  position: relative;
  color: white;
}

.ep-events {
  grid-template-columns: 30% 70%;
  display: grid;
  justify-content: center;
}

.e-background{
  background-image: url(./img/bowdoin-fall1-img.jpg);
  background-position:7% 75%;
}

.p-background{
  background-image: url(./img/bowdoin-winter-img.jpg);
  background-position: 93%  18%;
}

.user-button {
    display: inline-grid;
    align-items: center;
    width: 70%;
    justify-self: center;
}

/*.index-btn{*/
/*  display: inline-grid;*/
/*  font-family: 'Quicksand', sans-serif;*/
/*  padding: 5px 5px;*/
/*  border-width: 3px;*/
/*  line-height: 2;*/
/*  border-style: solid;*/
/*  background: transparent;*/
/*  position: relative;*/
/*  color: #FF006A;*/
/*  border-color: #FF006A;*/
/*}*/

/*.index-btn:before{*/
/*  display: inline-grid;*/
/*  background-color: rgba(255, 149, 0, 0.8);*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  transform: translate(0.6em, -0.3em);*/
/*  transition: transform 0.2s, background-color 0.2s;*/
/*}*/

/*.index-btn:hover:before{*/
/*  transform: translate(-0.4em, 0.4em);*/
/*}*/

/*.index-btn:active {*/
/*  transform: translate(0, 0);*/
/*  transition-duration: 0.1s;*/
/*}*/

/*.index-btn:active:before {*/
/*  transition-duration: 0.1s;*/
/*  transform: translate(0, 0);*/
/*  background-color: rgba(255, 149, 0, 0.8);*/
/*}*/

/*.index-btn:before {*/
/*  background-color: rgba(255, 149, 0, 0.8);*/
/*}*/

.index-btn-purple{
--p: #9C27B0;
--c: #fff;
--h: #af2cc5;
--a: #771e86;

}

.index-btn{
box-sizing:border-box;
background-color:var(--c);
border:2px solid var(--p);
color:var(--p);
cursor:pointer;
display:inline-block;
font-size:1em;
margin:0;
padding:0.5em 0.75em;
text-align:center;
text-decoration:none;
transition:background 0.20s linear;
/*    round edges */
border-radius:8px;
background-color: var(--c);
color: var(--p);
}

.index-btn:hover{
background-color: var(--p);
color: var(--c);
}
.explore-stories{
    grid-template-columns: auto auto auto auto;
    display: grid;
    align-items: center;
}

.circle{
  display: inline-block;
}

.circle-img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

@media only screen and (max-width: 400px) {
  .circle-img{
    width: 45px;
    height: 45px;
  }
}

/*FOOTER NAV-BAR*/
.index-footer{
  display: grid;
}

.post-footer{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}

.navbar-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.emoji{
  display: inline-grid;
  text-align: center;
  font-size: 6vw;
}

.nav-btn{
  border: transparent;
  background-color: #000000;
  color: #C6ADE4;
  font-family: 'Quicksand', sans-serif;
}

.nav-btn img{
  height: auto;
    margin-top: 2px;
}

.nav-btn p{
    margin-top: 2px;
}
.index-header{
  align-items: center;
  justify-content: center;
}

/* Post Preview and Post styles */

.post-wrapper{
    /* display: grid; */
    /*align-content: space-around;*/
    grid-gap: 2%;
    background-color: ghostwhite;
    padding: 2%;
    /*min-height: 100%;*/
    height: 100%;
    grid-template-rows: 0 80% 10%;

}

.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr 1fr 3fr 4fr 1fr 1fr;
  grid-gap: 1%;
  /*margin-left: 23%;
  margin-right: 23%;*/
}

.event-image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: .5%;
  margin-left:2%;
  margin-top:15%;
}

.responsive {
  width: 100%;
  height: auto;
}

.event-title {

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-right: .5%;
  text-align: center;
  font-size: 5vw;
  line-height: 3em;
  word-spacing: 1.8px;
  color: #000000;
  font-weight: 700;
  place-self: center;
}

.event-details {

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-right: .5%;
  text-align: center;
  font-size: 3.5vw;
  letter-spacing: 0px;
  /* how to auto line-height fit */
  line-height: 1.7em;
  word-spacing: 1.8px;
  color: #000000;
  font-weight: 300;
  place-self: center;
}

.post-title {
  font-size: 4vw;
  padding-left: 15px;
  margin-bottom: 0;
}

.texts {
  font-size: 3.5vw;
  padding-left: 20px;
  text-indent: 50px
}

.post-btns {
  display: inline-flex;
  justify-content: space-between;
  margin-left: 5%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-bottom: 15%;
  margin-left: 15%;
  margin-right: 15%;
}

.post-btn {
  color: #000000;
  cursor:pointer;
  border:2px solid #000000;
  font-size: 3vw;
  line-height: 70%;
  padding: 3%;
  border-radius: 8px;
  background-color: #C6ADE4;
  font-family: 'Quicksand', sans-serif;
}
.post-btn:hover {
  background: #3A0332;
  color: #C6ADE4;
}
.post-btn:active {
  background: #3A0332);
}

.post-ul {
  /* column-count: 2;
  column-width: 50%; */
  font-size: 4vw;
  /* line-height: 4em; */
  padding-left: 15px;
}

.participant-list {
  font-family: 'Quicksand', sans-serif;
  background-color: #C4C4C4;
  border-radius: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  /* margin-left: auto;
  margin-right: auto; */
}

.event-description {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.person-icon {
  width:10%;
  vertical-align: middle;
  padding-right: 10px;
  /* margin-right: 1em;
  position: relative;
  bottom:-10px; */
}

.done-button {
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

.scroll {
    width: 92vw;
    height: 23vw;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

li{
  line-height: 50px;
}

.post-text{
  padding-left: 15px;
}

/*Make a post page and event listing page*/

.flex-container{
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
  margin-bottom: 4%;
}

.card-img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-info{
  list-style-type: none;
  font-family: 'Quicksand', sans-serif;
  padding-left: 0;
}

.event-list-container{
  padding: 2%;

}

.form{
  margin: 2%;
  padding: 0;
}

.col-md-2{
  display:flex;
  align-items: center;
  justify-content: space-around;
}

/* Display list items side by side */

ul.breadcrumbs {
  padding: 0;
  margin: 2%;
  list-style: none;
}

ul.breadcrumbs li {
  display: inline;
  font-size: 3.0vw;
}

/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumbs li+li:before {

  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumbs li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumbs li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Filter stylesheet */
.filter-grid-container {
    /* display: grid; */
    /*align-content: space-around;*/
    grid-gap: 2%;
    background-color: ghostwhite;
    /*padding: 2%;*/
    grid-template-rows: 25% 25% 25% 25%;
    height: 100%;
}

.checklist {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 4%;
}

.map {

}

.menu p {
}

/* Event search page*/

.event-grid{
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 2rem;

}

.listing{
  display: grid;
  grid-template-columns: 20% 50% 30%;
  background: #EDE7F6;
  border-radius: 1rem;
}

.div-img{
  grid-column: 1;
}

.div-info{
  grid-column: 2;
}

.div-post-btns{
  grid-column: 3;
  align-self: center;
  display: inline-flex;
  justify-content: space-around;
}

.poster-img{
  max-height:100%;
}
