body{
  font-family: 'Quicksand', sans-serif;
}

/* Home page CSS */

.index-wrapper{
  display: grid;
  /*align-content: space-around;*/
  grid-gap: 2%;
  background-color: ghostwhite;
  padding: 2%;
  /*min-height: 100%;*/
  height: 100%;
  grid-template-rows: 0 70% 10%;
}

.index-grid-container {
  display: grid;
  /*align-content: space-around;*/
  grid-gap: 2%;
  background-color: ghostwhite;
  /*padding: 2%;*/
  grid-template-rows: 50% 50%;
  height: 100%;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.circle-container {
  position: relative;
  color: white;
}

.ep-events {
  grid-template-columns: 30% 70%;
  display: grid;
  justify-content: center;
}

.e-background{
  background-image: url(./img/bowdoin-autumn.jpeg);
  background-position:7% 75%;
}

.p-background{
  background-image: url(./img/bowdoin-winter-img.jpg);
  background-position: 93%  18%;
}

.user-button {
  display: inline-grid;
  align-items: center;

}

.index-btn{
  display: inline-grid;
  font-family: 'Quicksand', sans-serif;
  padding: 5px 5px;
  border-width: 3px;
  line-height: 2;
  border-style: solid;
  background: transparent;
  position: relative;
  color: #FF006A;
  border-color: #FF006A;
}

.index-btn:before{
  display: inline-grid;
  background-color: rgba(255, 149, 0, 0.8);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translate(0.6em, -0.3em);
  transition: transform 0.2s, background-color 0.2s;
}

.index-btn:hover:before{
  transform: translate(-0.4em, 0.4em);
}

.index-btn:active {
  transform: translate(0, 0);
  transition-duration: 0.1s;
}

.index-btn:active:before {
  transition-duration: 0.1s;
  transform: translate(0, 0);
  background-color: rgba(255, 149, 0, 0.8);
}

.index-btn:before {
  background-color: rgba(255, 149, 0, 0.8);
}

.explore-stories{
  grid-template-columns: auto auto auto;
  display: grid;
  align-items: center;
}

.circle{
  display: inline-block;
}

.circle-img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

@media only screen and (max-width: 400px) {
  .circle-img{
    width: 45px;
    height: 45px;
  }
}

/*FOOTER NAV-BAR*/
.index-footer{
  display: grid;
}

.navbar-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.emoji{
  display: inline-grid;
  text-align: center;
  font-size: 6vw;
}

.nav-btn{
  border: transparent;
  background-color: rgba(255, 149, 0, 0.4);
  color: #FF006A;
  font-family: 'Quicksand', sans-serif;

}

.nav-btn img{
  height: auto;
}

.header{
  align-items: center;
  justify-content: center;
}

/* Post Preview and Post styles */

.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr 1fr 3fr 4fr 1fr;
  grid-gap: 1%;
  /*margin-left: 23%;
  margin-right: 23%;*/
}

.event-image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: .5%;
  margin-left:2%;
  margin-top:15%;
}

/* .responsive {
  width: 100%;
  height: auto;
} */

.event-title {

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-right: .5%;
  text-align: center;
  font-size: 5vw;
  line-height: 3em;
  word-spacing: 1.8px;
  color: #000000;
  font-weight: 700;
  place-self: center;
}

.event-details {

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-right: .5%;
  text-align: center;
  font-size: 3.5vw;
  letter-spacing: 0px;
  /* how to auto line-height fit */
  line-height: 1.7em;
  word-spacing: 1.8px;
  color: #000000;
  font-weight: 300;
  place-self: center;
}

.title {
  font-size: 4vw;
  padding-left: 15px;
}

.texts {
  font-size: 3.5vw;
  padding-left: 20px;
  text-indent: 50px
}

.post-btns {
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.post-btn {
  display: inline-block;
  color: rgba(0,0,0,1);
  cursor:pointer;
  font-size: 3vw;
  line-height: 2%;
  padding: 5.2%;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.26);
  margin-left: 1%;
  margin-right: 1%;
  font-weight: 700;
}
.post-btn:hover {
  background: rgba(0,0,0,0.44);
}
.post-btn:active {
  background: rgba(0,0,0,0.62);
}

ul {
  column-count: 2;
  column-width: 50%;
  font-size: 3.5vw;
  line-height: 4em;
  padding-inline-start: 4%;
}

.participant-list {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0,0,0,0.13);
  border-radius: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-left: auto;
  margin-right: auto;
}

.event-description {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.icon {
  height:15%;
  width:15%;
  margin-right: 1em;
  position: relative;
  bottom:-10px;
}

.done-button {
align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

.scroll {
    width: 92vw;
    height: 23vw;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
