.index-btn-purple{
--p: #9C27B0;
--c: #fff;
--h: #af2cc5;
--a: #771e86;
}

.index-btn{
box-sizing:border-box;
background-color:var(--c);
border:2px solid var(--p);
color:var(--p);
cursor:pointer;
display:inline-block;
font-size:1em;
margin:0;
padding:0.5em 0.75em;
text-align:center;
text-decoration:none;
transition:background 0.20s linear;
/*    round edges */
border-radius:8px;
background-color: var(--c);
color: var(--p);
}

.index-btn:hover{
background-color: var(--p);
color: var(--c);
}