.index-btn-purple{
--p: #000000;
--c: #C6ADE4;
--h: #DB6900;
--a: #3A0332;
}

.index-btn{
box-sizing:border-box;
background-color:var(--c);
border:2px solid var(--p);
color:var(--p);
cursor:pointer;
display:inline-block;
font-size:1em;
margin:0;
padding:0.5em 0.75em;
text-align:center;
text-decoration:none;
transition:background 0.20s linear;
/*    round edges */
border-radius:8px;
background-color: var(--c);
color: var(--p);
}

.index-btn:hover{
background-color: var(--a);
color: var(--c);
}

.index-btn:active{
background-color: var(--a);
color: var(--c);
}
