.index-btn-purple{
--p: #000000;
--c: #C6ADE4;
--h: #DB6900;
--a: #3A0332;
}

.index-btn{
box-sizing:border-box;
background-color:var(--c);
border:2px solid var(--p);
color:var(--p);
cursor:pointer;
display:inline-block;
font-size:1em;
margin:0;
padding:0.5em 0.75em;
text-align:center;
text-decoration:none;
transition:background 0.20s linear;
/*    round edges */
border-radius: 8px;
background-color: var(--c);
color: var(--p);

}

.index-btn:hover{
background-color: var(--a);
color: var(--c);
}

.index-btn:active{
background-color: var(--a);
color: var(--c);
}

.btn-text{
  font-family: 'Quicksand', sans-serif;
}


/*SEARCH BAR*/
form.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #e9ecef;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 50%;
}

/*form.search-bar button {*/
/*    float: left;*/
/*    width: 20%;*/
/*    padding: 10px;*/
/*    background: #2196F3;*/
/*    color: white;*/
/*    font-size: 17px;*/
/*    border: 1px solid grey;*/
/*    border-left: none;*/
/*    cursor: pointer;*/
/*}*/

/*form.search-bar button:hover {*/
/*    background: #0b7dda;*/
/*}*/

/*form.search-bar::after {*/
/*    content: "";*/
/*    clear: both;*/
/*    display: table;*/


.search-bar-div{
    display: grid;
}

form.search-bar{
    justify-self: center;
    margin: 0;
    width: 70%;
}

form.search-bar button{
    width: 20%;
    height: 50%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
