.flex-container{
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

/* This is being overidden */
.card-img{
  width: 50%;


}

ul{
  list-style-type: none;
  padding-left: 0;
}

.event-list-container{
  padding: 2%;


}

.col-md-4{
  align-items: center;
}

.col-md-2{
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.button {
 display: inline-block;
 color: rgba(0,0,0,1);
 cursor:pointer;
 font-size: 2.5vw;
 line-height: 2%;
 padding: 1rem;
 border-radius: 8px;
 background-color: rgba(0,0,0,0.26);
 font-weight: 700;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1em;

}
.button:hover {
 background: rgba(0,0,0,0.44);
}
.button:active {
 background: rgba(0,0,0,0.62);
}
