<!--This is a comment in HTML.-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link type="text/css" href="./post-preview-style.css">
  <title>Create Event Post</title>
</head>
<body>
  <section class="container">
    <div class="event-image">
      <img src="./img/poster.png" alt="Event poster" class="responsive">
    </div>
    <div class="event-title">
      <p>Film Screening of "The Continent: The Last Resort"</p>
    </div>
    <div class="event-details">
    <!--Need to enable input of details-->
      <p><strong>Event Category: </strong>Film Screening<br><strong>Organizer: </strong>Wachtebeke<br><strong>Time: </strong>August 7 2015<br><strong>Location: </strong>Recreation Area</p>
    </div>
    <div class="buttons">
      <button class="button">❤️</button>
      <button class="button">RSVP</button>
      <button class="button">Cancel RSVP</button>
    </div>
    <div class="participant-list">
      <p class="title">People Attending this Event<br></p>
        <div class="scroll">
            <ul style="list-style-type:none;">
                <li><img src="./img/user.png" class="icon"><strong>Alina Lam</strong><span style="margin-left: 1.5em;">Friends with you ✓</span></li>
                <li><img src="./img/user.png" class="icon"><strong>Angela Goldshteyn</strong><span style="margin-left: 1.5em;">Friends with you ✓</span></li>
                <li><img src="./img/user.png" class="icon"><strong>Yvonne Fang</strong><span style="margin-left: 1.5em;">Friends with you ✓</span></li>
                <li><img src="./img/user.png" class="icon"><strong>Random Person1</strong><span style="margin-left: 1.5em;">Mutual friends: 2</span></li>
                <li><img src="./img/user.png" class="icon"><strong>Random Person2</strong><span style="margin-left: 1.5em;">Mutual friends: 1</span></li>
            </ul>
        </div>
    </div>
    <div class="event-description">
      <p class="title">Detailed Description</p>
      <p class="texts">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="texts">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>
</body>
</html>
