<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="chosen.jquery.js" type="text/javascript"></script>
  <script src="prism.js" type="text/javascript" charset="utf-8"></script>
  <script src="init.js" type="text/javascript" charset="utf-8"></script>

  <link rel="stylesheet" href="/chosen.css">
  <link rel="stylesheet" href="/prism.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/other.css">

  <title>Filter</title>
</head>

<div class="index-wrapper">
  <div class="index-header">
    {{> header}}
  </div>

  <body>
    <div class="filter-grid-container">
        <h2>Filter by<br></h2>
        <h3>Categories<br></h3>

      <div class="checklist">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Academic</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Arts</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Athletics</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
            <label class="form-check-label" for="inlineCheckbox4">Career Planning</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
            <label class="form-check-label" for="inlineCheckbox5">Social</label>
          </div>
      </div>

    <h3>Location<br></h3>

      <div class="checklist">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Around Smith Union</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Around Coles Tower</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Around Main Quad</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
            <label class="form-check-label" for="inlineCheckbox4">Around College Houese on Maine St.</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
            <label class="form-check-label" for="inlineCheckbox5">Around Farley Field House</label>
          </div>

          <div class="map">
            <p>Map Here.</p>
          </div>

      </div>

    <h3>Organizer<br></h3>

    <div class="menu">
      <p>Select by Club:&nbsp;</p>
          <select data-placeholder="Search or select club(s)" class="chosen-select" multiple tabindex="4">
            <option value></option>
            <option value="American Black Bear">American Black Bear</option>
            <option value="American White Bear">American White Bear</option>
            <option value="American Red Bear">American Red Bear</option>
          </select>
          <script>
          $(".chosen-select").chosen({max_selected_options: 10});
          $(".chosen-select").chosen({allow_single_deselect: true});
          </script>
  </div>

  </body>

  <div class="index-footer">
    {{> footer}}
  </div>
</div>

</html>
