<!--&lt;!&ndash;navigation bar&ndash;&gt;-->
<!--<div class="navbar-grid-container">-->
<!--    <div class="button-container">-->
<!--        <div class="img-container">-->
<!--            <a class= "img" href="/" >🏠</a>-->
<!--        </div>-->
<!--        <a class= "nav-text" href="./index.html" >Home</a>-->
<!--    </div>-->
<!--    <div class="button-container">-->
<!--        <a href="./nav-join-club.html" >Join Club</a>-->
<!--    </div>-->
<!--    <div class="button-container">-->
<!--        <a href="./nav-myevents.html" >My Events</a>-->
<!--    </div>-->
<!--    <div class="button-container">-->
<!--        <a href="./nav-calendar.html" >Calendar</a>-->
<!--    </div>-->

<!--</div>-->

<!--navigation bar-->
<div class="navbar-grid-container">
    <button onclick="location.href='./index.html';" class="nav-btn">
        <img src="/img/home-icon.png"/>
        <br>
        Home
    </button>

    <button onclick="location.href='./nav-join-club.html';" class="nav-btn">
        <img src="/img/network-icon.png"/>
        <br>
        Join Clubs
    </button>

    <button onclick="location.href='/my-events';" class="nav-btn">
        <img src="/img/cheers-icon.png"/>
        <br>
        My Events
    </button>

    <button onclick="location.href='./nav-calendar.html';" class="nav-btn">
        <img src="/img/calendar-icon.png"/>
        <br>
        Calendar
    </button>

<!--    <div class="button-container">-->
<!--        <a class= "link emoji" href="./index.html" >🏠 Home</a>-->
<!--    </div>-->
<!--    <div class="button-container">-->
<!--        <a class= "link emoji" href="./nav-join-club.html" >✋ Join Clubs</a>-->
<!--    </div>-->
<!--    <div class="button-container">-->
<!--        <a class= "link emoji" href="/my-events" >🎤 My Events</a>-->
<!--    </div>-->
<!--    <div class="button-container">-->
<!--        <a class= "link emoji" href="./nav-calendar.html" >🗓️ Cale ndar</a>-->
<!--    </div>-->

</div>
