<html>
  <head>
    <title> Social Event App </title>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/other.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Interweavers" content="Social Event App">
  </head>

<!-- script src="home.js"></script -->

<div class="index-wrapper">
  <div class="index-header">
    {{> header}}
  </div>

  <body>
  <div class= "index-grid-container text">
      <!-- for each user task, make grid-->
      <div class="e-background button-container">
          <div class="user-button">
<!--              <button onclick="location.href='/explore-events';" class="index-btn">-->
              <button onclick="location.href='/explore-events';" class="index-btn index-btn-purple">
                  <p class="btn-text">Explore Events</p>
              </button>
          </div>
      </div>

<!--      <div class= "ep-events e-background">-->
<!--        <div class="user-button">-->
<!--&lt;!&ndash;          <div class="square container ex">&ndash;&gt;-->
<!--            <button onclick="location.href='/explore-events';" class="index-btn">-->
<!--              <p class="text">Explore Events</p>-->
<!--            </button>-->
<!--          </div>-->


      <div class="explore-stories">
          <div class="circle-container">
            <img class= "circle-img center" src="{{circle1}}">
          </div>
          <div class="circle-container">
            <img class="circle-img center" src="{{circle2}}">
          </div>
          <div class="circle-container">
            <img class="circle-img center" src="{{circle3}}">
          </div>
          <div class="circle-container">
              <img class="circle-img center" src="{{circle3}}">
          </div>
      </div>

      <div class= "p-background button-container">
        <div class="user-button">
          <button onclick="location.href='/post-events';" class="index-btn index-btn-purple">
            <p class="btn-text">Post An Event</p>
          </button>
<!--          <a class="square container po" href="/post-events" >Post Events</a>-->
            <!--            <img class= "square-img" src="./img/explore-img.jpg">-->
<!--            <a class= "square-link" href="./post-events.html" >Post Events</a>-->
        </div>
      </div>

      <div class="search-bar-div text">
          <form class="search-bar" action="/event-listings">
              <input type="text" placeholder="Search by category, time, location, organizer etc" name="search2">
              <button onclick= "location.href= '/event-listings';" class= "index-btn index-btn-purple" type="submit"
                      style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i class="fa fa-search"></i></button>
          </form>
      </div>

  </div>
  </body>

  <div class="index-footer">
    {{> footer}}
  </div>
</div>


</html>
