<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet"  href="/post-preview-style.css">
  <link rel="stylesheet" href="/main.css">
  <title>Create Event Post</title>
</head>
<body class="text">
  <section class="container">
    <div class="event-image">
      <img src="/img/prohibition-poster.png" alt="Prohibition Party event poster hosted at Howell House" class="responsive">
    </div>
    <div class="event-title">
      <p>Prohibition</p>
    </div>
    <div class="event-details">
    <!--Need to enable input of details-->
      <p><strong>Event Category: </strong>Social<br><strong>Organizer: </strong>Howell House<br><strong>Time: </strong>Saturday, April 20 2019 @ 8pm<br><strong>Location: </strong>Howell House</p>
    </div>
    <div class="buttons">
      <button class="button">❤️</button>
      <button class="button">RSVP</button>
      <button class="button">Cancel RSVP</button>
    </div>
    <div class="participant-list">
      <p class="title"><strong>People Attending this Event<br></strong></p>
        <div class="scroll">
            <ul style="list-style-type:none;">
                <li><img src="/img/user.png" class="icon"><strong>Alina Lam</strong><span style="margin-left: 1.5em;">Friends with you ✓</span></li>
                <li><img src="/img/user.png" class="icon"><strong>Angela Goldshteyn</strong><span style="margin-left: 1.5em;">Friends with you ✓</span></li>
                <li><img src="/img/user.png" class="icon"><strong>Yvonne Fang</strong><span style="margin-left: 1.5em;">Friends with you ✓</span></li>
                <li><img src="/img/user.png" class="icon"><strong>Random Person1</strong><span style="margin-left: 1.5em;">Mutual friends: 2</span></li>
                <li><img src="/img/user.png" class="icon"><strong>Random Person2</strong><span style="margin-left: 1.5em;">Mutual friends: 1</span></li>
            </ul>
        </div>
    </div>
    <div class="event-description">
      <p class="title"><strong>Detailed Description</strong></p>
      <p class="texts">Take a step back in time and party like it's 1929! Come to Howell's speakeasy for good music, food, mocktails, and games. Dressing up is not required.</p>
    </div>

    <div class="done-button">
      <button onclick="location.href= '/post-events/post-preview/event-desc'" class="button" style="float: right;">Submit</button>

<!--      <script>-->
<!--          function visitPage() {-->
<!--              window.open("event-desc.html", "_blank");-->
<!--            // location.href("{{eventDescUrl}}");-->
<!--          }-->
<!--      </script>-->
<!--      <button onclick="visitPage();" class="button" style="float: right;">Submit</button>-->
    </div>

  </section>
</body>
</html>
